* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
}

.navbar {
    color: #b80772; /* Color de los textos */
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.navbar-responsive{
display: none;
}


.navbar .button {
    background-color: #b80772; /* Color de fondo del botón Crear */
    color: white; /* Color del texto dentro del botón */
    border: none;
    padding: 10px 20px;
    margin-right: auto; /* Empuja los elementos a la derecha */
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em; /* Más grande que el texto normal */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional para el botón */
    margin: auto;
    
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48; /* Ajusta este valor si necesitas cambiar el tamaño del icono */
}

.navbar .link {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    font-weight: bold;
}
.navbar .link span {
    color: #b80772; /* Color de los textos de los enlaces */
    margin-left: 5px;
}

.container {
    display: flex;
    width: 100%;
}
.sidebar {
    padding: 20px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar li {
    padding: 21px 0;
    font-size: larger;
}
.main-content {
    padding: 20px;
}
.main-content h2 {
    color: #b80772;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #b80772;
    display: flex;
    justify-content: left;    
}
.card, .card-borrador {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}
.card h3, .card-borrador h3{
    color: #333;
    font-size: 18px;
    display: inline-block;
    
}
.card p, .card-borrador p {
    margin: 0;
    color: #666;
    margin-left: 1300px;
    text-align: right;
    font-style: oblique;
    margin-right: 50px;
}
.card .material-symbols-outlined {
    color: #b80772;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 24px; /* Tamaño del icono */
    display: inline-block;
}
.card .more-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px; /* Tamaño del icono de puntos */
    color: #b80772; /* Color para los iconos */
    cursor: pointer;
}

.card-borrador .material-symbols-outlined {
    color: #3b383a;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 24px; /* Tamaño del icono */
    display: inline-block;
}
.card-borrador .more-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px; /* Tamaño del icono de puntos */
    color: #b80772; /* Color para los iconos */
    cursor: pointer;
}

.button.red {
    padding: 5px 10px;
    color: rgb(27, 26, 26);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
}


.icon {
    font-family: 'Material Symbols Outlined';
    font-feature-settings: 'liga';
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    margin-right: 10px;
    }

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24

}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}


.button + .button {
    margin-left: 10px;
}

.dots {
    font-size: 24px; /* Tamaño del icono de puntos */
    color: #b80772; /* Color para los iconos */
    float: right; /* Alinear a la derecha */
}

/* Oculta el menú desplegable por defecto */ 
.dropdown {
    display: none;
  }
  
/* Responsiveness */
@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    
    .navbar-responsive {
        display: flex;
        justify-content: space-between; /* Separa el botón de los íconos */
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .navbar-responsive .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px; /* Anchura específica para los íconos */
    }

    .navbar-responsive .link .material-symbols-outlined {
        margin: 0; /* Elimina cualquier margen de los íconos */
    }

    .navbar-responsive .link .link-text {
        display: none; /* Oculta el texto de los enlaces */
    }

    /* Opcional: si quieres que los íconos estén más cerca uno del otro */
    .navbar-responsive .link:not(:first-child) {
        margin-left: 10px; /* Ajusta la distancia entre íconos */
    }

    .navbar-responsive .button-reponsive {
        background-color: #b80772; /* Color de fondo del botón Crear */
        color: white; /* Color del texto dentro del botón */
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.2em; /* Más grande que el texto normal */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional para el botón */
        margin: auto;
        margin-right: 444px;
    }

    .container {
        flex-direction: column; /* Los elementos secundarios se apilan verticalmente */
    }
    
    .sidebar ul li {
        font-size: medium; /* Reducir el tamaño de fuente para dispositivos móviles */
    }
    
    .main-content h2 {
        justify-content: left; /* Centrar los títulos en dispositivos móviles */
    }
    
    .card p, .card-borrador p {
        margin-left: 0;
        text-align: right; /* Alineación del texto a la izquierda para dispositivos móviles */
        font-size: 0.9em; /* Reducir el tamaño de la fuente para los párrafos */
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }
      
      .dropbtn {
        background-color: #fff;
        color: #333;
        padding: 16px;
        font-size: 16px;
        border: 1px solid #ddd;
        cursor: pointer;
        width: 100%; /* Asegúrate de que el botón se expanda al ancho completo */

        
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Mostrar el menú desplegable al hacer hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      /* Estilo para cuando se hace hover en los items del menú desplegable */
      .dropdown-content a:hover {
        background-color: #ddd;
      }

    .sidebar {
        display: none; /* Oculta la barra lateral */
    }
    
    .button-text, .link-text {
        display: none; /* Oculta los textos de los botones y enlaces */
    }

    /* Ajusta el botón para que ocupe el ancho completo */
    .dropbtn {
        width: 100%;
        
    }

    /* Estilos para que el dropdown se muestre correctamente */
    .dropdown {
        display: block;
    }

}

/* Más estilos responsivos para pantallas aún más pequeñas */
@media (max-width: 480px) {
    .navbar {
        display: none;
    }
    
    .navbar-responsive {
        display: flex;
        justify-content: space-between; /* Separa el botón de los íconos */
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .navbar-responsive .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px; /* Anchura específica para los íconos */
    }

    .navbar-responsive .link .material-symbols-outlined {
        margin: 0; /* Elimina cualquier margen de los íconos */
    }

    .navbar-responsive .link .link-text {
        display: none; /* Oculta el texto de los enlaces */
    }

    /* Opcional: si quieres que los íconos estén más cerca uno del otro */
    .navbar-responsive .link:not(:first-child) {
        margin-left: 10px; /* Ajusta la distancia entre íconos */
    }

    .navbar-responsive .button-reponsive {
        background-color: #b80772; /* Color de fondo del botón Crear */
        color: white; /* Color del texto dentro del botón */
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.2em; /* Más grande que el texto normal */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional para el botón */
        margin: auto;
        margin-right: 444px;
    }

    .container {
        flex-direction: column; /* Los elementos secundarios se apilan verticalmente */
    }
    
    .sidebar ul li {
        font-size: medium; /* Reducir el tamaño de fuente para dispositivos móviles */
    }
    
    .main-content h2 {
        justify-content: left; /* Centrar los títulos en dispositivos móviles */
    }
    
    .card p, .card-borrador p {
        margin-left: 0;
        text-align: right; /* Alineación del texto a la izquierda para dispositivos móviles */
        font-size: 0.9em; /* Reducir el tamaño de la fuente para los párrafos */
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }
      
      .dropbtn {
        background-color: #fff;
        color: #333;
        padding: 16px;
        font-size: 16px;
        border: 1px solid #ddd;
        cursor: pointer;
        width: 100%; /* Asegúrate de que el botón se expanda al ancho completo */

        
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Mostrar el menú desplegable al hacer hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      /* Estilo para cuando se hace hover en los items del menú desplegable */
      .dropdown-content a:hover {
        background-color: #ddd;
      }

    .sidebar {
        display: none; /* Oculta la barra lateral */
    }
    
    .button-text, .link-text {
        display: none; /* Oculta los textos de los botones y enlaces */
    }

    /* Ajusta el botón para que ocupe el ancho completo */
    .dropbtn {
        width: 100%;
        
    }

    /* Estilos para que el dropdown se muestre correctamente */
    .dropdown {
        display: block;
    }

}