/* Estilos generales */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 20px;
    font-size: 15px;
}

h2, h3 {
    color: #009ddb; 
}

p, a, label {
    color: #666;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: #0056b3;
}

a:hover {
    text-decoration: underline;
}


.container {
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: center;
}

/* Estilos para la sección de contacto */
.contact-section {
    padding: 15px;
    width: 50%; 
}

.form-container {
    padding: 50px;
    width: 100%;
    max-width: 1000px; 
    margin: 40px auto;
}

.form-group, .inline-inputs {
    margin-bottom: 20px;
}

.inline-inputs {
    display: flex;
    justify-content: space-between;
}

.form-field {
    flex: 1;
    margin-right: 10px;
}

.form-field:last-child {
    margin-right: 0;
}

.form label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}


.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
    background-color: #f0f0f0;
    border-radius: 30px;
    max-height: 600px;
    box-sizing: border-box;
    font-style: italic;
    color: #494949;
    font-family: "montserrat-regular",Arial,sans-serif;
    padding: 15px 20px;
    border: none;
    width: 100%;
}

.form input[type="checkbox"] {
    margin-right: 10px;
}

.form input[type="submit"] {
    background: linear-gradient(to top right,#0e4386,#009ddb);
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    max-height: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-left: 850px;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-checkbox {
    position: relative; 
    padding-left: 28px; 
    cursor: pointer;
    display: block; 
    margin-bottom: 10px; /
}

/* Oculta la casilla de verificación predeterminada */
.form-checkbox input[type="checkbox"] {
    visibility: hidden; 
    position: absolute;
    left: 0;
}

/* Estilos para crear una casilla de verificación personalizada */
.form-checkbox::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px; 
}

/* Estilo cuando el checkbox está marcado */
.form-checkbox input[type="checkbox"]:checked + label::before {
    background-color: #0056b3;
    border-color: #0056b3;
}


.form-checkbox label{
    display: inline-block;
    margin-left: 8px; /* Espacio después de la casilla de verificación*/
    vertical-align: middle; /* Alinea verticalmente con la casilla de verificación */
    color: #333; 
    font-size: 15px; 
    line-height: 1.2; /* Altura de línea del texto */
    font-weight: bold;
}

/* Estilo para la disposición horizontal del formulario y la sección de contacto */
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.contact-section {
    width: calc(50% - 50px); /* Ajuste para la mitad del ancho menos el espacio entre */
}

.form-container {
    width: calc(50% - 50px); /* Ajuste para la mitad del ancho menos el espacio entre */
}

